{
  "extends": ["react-app"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "import/no-anonymous-default-export": "off",
    "rules-of-hooks": "off"
  }
}
