.leaflet-tile-loaded {
  filter: brightness(1) invert(1) grayscale(10);
}
.leaflet-control-attribution a {
  color: black;
}
.leaflet-control-attribution .leaflet-control-attribution {
  background-color: white;
  color: black;
}

.leaflet-control-zoom-in .leaflet-control-zoom-out {
  color: black;
}
