@font-face {
  font-family: "futura-medium";
  src: url("./assets/fonts/futura-medium.woff2") format("woff2");
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  font-family: "sans-serif" !important;
}
